services:
  gm-core:
    build: .
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_SERVER=postgres-db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=gm_db
    depends_on:
      - postgres-db
    networks:
      - gm-network

  postgres-db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=gm_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - gm-network

networks:
  gm-network:
    driver: bridge

volumes:
  postgres_data:
